doctype html

html
    head
        meta(charset='utf-8')
        // 3-1 p53 電話番号リンクを無効化
        meta(name='format-detection', content='telephone=no')
        meta(name='msapplication-tap-highlight', content='no')
        // 3-1 p52 表示領域を設定する
        meta(name='viewport', content='user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi')
        link(rel='stylesheet', type='text/css', href='css/index.css')
        title Hello World
    body

        h2 Device
            table.device(border='1')
                tr
                    td model
                    td.device#model
                tr
                    td uuid
                    td.device#uuid
                tr
                    td platform
                    td.device#platform
                tr
                    td version
                    td.device#version
                tr
                    td cordova
                    td.device#cordova

        h2: a(href="javascript: site.login();") login
        h2: a(href="javascript: site.logout();") logout
        h2: a(href="javascript: app.getUser();") getUser


        #logs

        script(src='cordova.js')
        script(src='js.min/async.js')
        script(src='js.min/zepto.js')
        script(src='js.min/oauth2.js')
        script(src='js.min/site.js')
        script(src='js.min/index.js')



